.App {
  padding: 1em;
  text-align: center;
  background-color:rgb(53, 59, 70);
  min-height: 100vh;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: #b0b0b0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color:rgb(53, 59, 70); */
  min-height: 6vh;
  padding-bottom: 1em;
  color: white;  
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.transition-visible {
  display: block !important;
}

.form {
  width: 20em;
  padding: 2em;

}

.dropdown {
  padding-bottom: 1em;
}

.scrollable {
  height: 600px;
  overflow-y: auto;
}

.App {
  /* The image used */
  background-image: url('./spices.jpeg');

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

label {
  color: black !important; 
}

.ui.vertical.text.menu:first-child, .ui.menu, .ui.tabular.menu {
  color: black !important; 
  background: rgba(0,0,0,.05) !important;
}

.ui.segment {
  background: rgba(0,0,0,.05) !important;
  color: black !important;
}